// Colors
$primary: #55c57a;
$primary-light: #7ed56f;
$primary-dark: #28b485;
$gray-dark: #777777;
$gray-light-1: #f7f7f7;
$white: #ffffff;
$black: #000000;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
